* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1500px;
  width: 80%;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border:1px solid black;
  margin: 10px 20px;
  padding: 20px;
}

.row {
  margin: 10px 0;
}

.hide {
  display: none;
}
